.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 70%;
    min-width: 320px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.modalContainer .title {
    text-align: center;
    font-size: 1.3rem;
    // margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}


.body {
    overflow: scroll;
    line-height: 2rem;
}