.main_img {
  background-color: black;
  width: 150px;
  height: 150px;
  clip-path: circle(50% at 50% 50%);
  margin: 2rem;
}
.feature_container {
  li {
    margin-bottom: 1rem;
  }
  h3 {
    margin-left: 0.5rem;
  }
}
.tool_container {
  justify-content: center;
}
