.intro {
  height: 100vh;
}
.tool_container {
  width: 100%;
  justify-content: center;
}

.tool_item {
  width: 120px;
  background-color: red;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.main_img{
  background-color: black;
  width: 150px;
  height: 150px;
  clip-path: circle(50% at 50% 50%);
  margin: 2rem;

}