.content_container {
  padding: .5rem;
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;

  .title {
    width: 6rem;
    font-weight: 700;
    padding: .5rem;
  }

  .content {
    flex-wrap: wrap;
    padding: .5rem;

    ul {
      li {
        margin-bottom: .5rem;
      }
    }
  }
}